.navigation {
  background-color: #fff;
  height: 100%;
  border-radius: 46px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation_item {
  background-color: #f6f6f6;
  width: 54px;
  height: 54px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.navigation_item:not(:last-child) {
  margin-bottom: 10px;
}
